@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Archivo');

body {
    background-image:url("pictures/badger.jpg");
    overflow-x: hidden;
}
h1, h2 {
    color: white; 
    text-align: center;
    font-family: 'Abril Fatface', cursive
}

p, ul {
    font-family: 'Archivo', sans-serif;
    color: white;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
}

.modal-body {
    background-color: black;
    font-family: 'Archivo', sans-serif;
    color: white;
}